@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
body{
    /* z-index: -5; */
    /* min-height: 100vh; */
	width: 100vw;
    height: 100vh;
    overflow: auto;
    left: 0;
    right: 0;
    /* position: fixed; */
}
/* navbar */
.navbar{
    background-color: #333333;
    width: 100vw;
    display: grid;
    padding: 12px 0rem;
    place-items: center;
}

.navbar ul{
    display: grid;
    grid-auto-flow: column;
    gap: 2.5rem;
    place-items: center !important;
    list-style: none;
}
.navbar a{
    text-decoration: none;
    color: #cecece;
    font-size: 12px;
}
.navbar img{
    height: 16px;
    width: 16px;
}
.navbar a:hover{
    color: #fff;
}
.navbar span{
    font-size: 16px;
}
/* welcome links */
.welcome{
    background-color: #f5f5f7;
    width: 100vw;
    display: grid;
    grid-auto-flow: column;
    padding: 10px 0rem;
    place-items: center;
}
.welcome a{
    color: #468fd9;
    text-decoration: none;
}
.welcome p{
    color: #8f8f91;
}
/* container */

.container{
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: .8rem;
}
.container a{
    text-decoration: none;
    color: #468fd9; 
}
.links{
    display: grid;
    grid-auto-flow: column;
    gap: 2rem;
}
.iphone13pro,.iphone13, .macbook{
    background-color: #f5f5f7;
    width: 100vw;
    display: grid;
    place-items: center;
}
.iphone13pro h1,.iphone13 h1, .macbook h1{
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
}
.iphone13pro h2,.iphone13 h2, .macbook h2{
    font-size: 28px;
    line-height: 1.10722;
    font-weight: 400;
    letter-spacing: .004em;
}
/* iphone 13pro */

.iphone13pro{
    background-color: #fbfbfd;
    display: grid;
    place-items: center;
    z-index: -1;
}
.iphone13pro img{
    position: relative;
    top: 5px;
    /* width: 100%;  */
}
.iphone13pro h1{
    margin-top: 1rem;
}
/* iphone13 */
.iphone13{
    background-color: #35283c;
    width: 100vw;
    display: grid;
    place-items: center;
    padding-top: 40px;
    gap: .2rem;
}
.iphone13 h1{
    color: #f5f5f7;

}
.iphone13 h2{
    color:#fdc1ea;
}
.iphone13 a{
    margin-top: .5rem;
}

/* accessories */

.accessories{
    /* width: 100vw; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: .6rem;
    /* place-items: center; */
    margin-top: .6rem;
}
/* airpods */
.airpods{
    display: grid;
    place-items: center;
    background-color: #fbfbfd;
    z-index: -3;
    padding-bottom: 2rem;
}
.airpods img{
    /* position: relative; */
    top: -65px;
    z-index: -1;
}
.airpods a{
    text-decoration: none;
    color: #468fd9;
    margin-left: 1rem;
}
.airpods h1{
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0em;
}
.airpods h2{
    color: #232325b7;
    font-size: 21px;
    line-height: 1.2381;
    font-weight: 400;
    letter-spacing: .016em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
/* apple watch */
.apple-watch{
    text-align: center;
    background-color: #fbfbfd;
    padding-top: 2rem;
    gap: 1rem;
}
.accessories .acc-logo{
    height: 2rem;
    position: relative;
    top: 4px;
}
.acc-title{
    place-items: center;
    margin: .2rem 0rem;
}

.apple-watch span{
    color: #db9a74;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 600;
    letter-spacing: 0em;
}
.apple-watch .series7{
    color: #d23e43;
    font-size: 12px;
    line-height: 1.2381;
    font-weight: 400;
    letter-spacing: .016em;
}
.apple-watch p{
    color: #5e5e60;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0em;
    margin: .5rem 0rem;
}
.apple-watch a{
    text-decoration: none;
    color: #468fd9;
    margin-left: 1rem;
}

/* home pod */
.homepod-mini{
    place-items: center;
    background-color: #fbfbfd;
    text-align: center;
    padding-top: 3rem;
}
.homepod-mini h2{
    color: #b0b0b4;
    font-size: 10px;
    margin: 1rem 0rem 0.6rem 0rem;
}
.homepod-mini a{
    text-decoration: none;
    color: #468fd9;
    margin-left: 1rem;
}

/* ipad */
.ipad-mini{
    place-items: center;
    background-color: #fbfbfd;
    text-align: center;
    padding-top: 2rem;
}
.ipad-mini span{
    background-image: linear-gradient(45deg, #ff788c, #772bfd);
    font-family: 'Kaushan Script', cursive,sans-serif;
    /* background-size: 100%; */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    padding: 0rem 1rem;
}
.ipad-mini h2{
    margin: 1rem 0rem 0.6rem 0rem;
    color: #37373a;
    font-size: 14px;
}
.ipad-mini a{
    text-decoration: none;
    color: #468fd9;
    margin-left: 1rem;
}

/* apple card */
.apple-card{
    place-items: center;
    background-color: #fbfbfd;
    text-align: center;
    padding: 3rem 12rem;
}
.apple-card h2{
    color:#6e6e70;
    font-size: 16px;
    margin: 1rem 0rem 0.6rem 0rem;
}
.apple-card a{
    text-decoration: none;
    color: #468fd9;
    margin-left: 1rem;
}

/* apple tv */
.apple-tv{
    place-items: center;
    background-color: #fe8d28;
    text-align: center;
    padding: 3rem 12rem;
    display: grid;
}
.apple-tv .tv-title{
    /* position: relative; */
    /* bottom: 3rem; */
}
.apple-tv .funky-text{
    display: grid;
    /* position: relative;     */
    /* top: 5rem; */
}
.apple-tv span{
    font-family: 'Kaushan Script',sans-serif;
}
.apple-tv .first{
    font-size: 20px;
    font-weight: bold;
}
.apple-tv .second{
    font-size: 30px;
    font-weight: bold;
}
.apple-tv .third{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: .5rem;
}
.apple-tv p{
    margin: .5rem 0rem;
}
.apple-tv a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-left: 1rem;
}

/* footer */

footer{
    display: grid;
    background-color: #f5f5f7;
    margin-top:.6rem;
    text-align: start;
    padding: 1.4rem 14rem;
}
footer p{
    color: #6e6e73;
    font-size: 14px;
}
hr{
    border: 1px solid #e5e5e5;
    margin: 1rem 0rem;
}
.footer-links{
    display: grid;
    gap: 1rem;
    place-items: center;
    grid-auto-flow: column;
}
.footer-links .first-col{
    position: relative;
    bottom: 2.5rem;
    display: grid;
    grid-auto-flow: row;
    text-align: start;
    gap: .5rem;
}
.footer-links a{
    text-decoration: none;
    color: #6e6e73;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0em;
}
.second-col{
    position: relative;
    top: 0.6rem;
    display: grid;
    grid-auto-flow: row;
    text-align: start;
    gap: 1rem;
}
.second-col .services, .account{
    display: grid;
    grid-auto-flow: row;
    gap: .5rem;
}
.third-col{
    position: relative;
    bottom: .9rem;
    display: grid;
    grid-auto-flow: row;
    text-align: start;
    gap: 1rem;
}
.fourth-col{
    display: grid;
    grid-auto-flow: row;
    text-align: start;
    gap: 1rem;
}
.fourth-col .business,.education,.healthcare,.government{
    display: grid;
    grid-auto-flow: row;
    gap: .5rem;
}
.fifth-col{
    position: relative;
    bottom: .4rem;
    display: grid;
    grid-auto-flow: row;
    text-align: start;
    gap: 1rem;
}
.fifth-col .apple-values,.about-apple{
    display: grid;
    grid-auto-flow: row;
    gap: .5rem;
}

/* responsive */
@media screen and (max-width:1240px) {
    .accessories{
    display: grid;
    grid-template-columns: none;
    grid-template-rows: repeat(6, 1fr);
    }
    footer {
        display: none;
    }
    .navbar ul{
    
    gap: .5rem;
    }
}
@media screen and (max-width:950px) {
    .navbar a{
    display: none;
    }
    .navbar img{
        display: block;
    }   

}