*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
/* navbar */
.navbar{
    background-color: #333333;
    width: 100vw;
    display: grid;
    padding: 12px 0rem;
    place-items: center;
}

.navbar ul{
    display: grid;
    grid-auto-flow: column;
    gap: 2.5rem;
    place-items: center;
    list-style: none;
}
.navbar a{
    text-decoration: none;
    color: #cecece;
    font-size: 12px;
}
.navbar img{
    height: 16px;
    width: 16px;
}
.navbar a:hover{
    color: #fff;
}
.navbar span{
    font-size: 16px;
}
/* welcome links */
.welcome{
    background-color: #f5f5f7;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    padding: 10px 0rem;
    place-items: center;
}
.welcome a{
    color: #468fd9;
    text-decoration: none;
}
.welcome p{
    color: #8f8f91;
}
/* container */

.container{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: .8rem;
}
.container a{
    text-decoration: none;
    color: #468fd9; 
}
.links{
    display: grid;
    grid-auto-flow: column;
    gap: 2rem;
}
.iphone13pro,.iphone13, .macbook{
    background-color: #f5f5f7;
    width: 100%;
    display: grid;
    place-items: center;
}
.iphone13pro h1,.iphone13 h1, .macbook h1{
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
}
.iphone13pro h2,.iphone13 h2, .macbook h2{
    font-size: 28px;
    line-height: 1.10722;
    font-weight: 400;
    letter-spacing: .004em;
}
/* iphone 13pro */

.iphone13pro{
    background-color: #fbfbfd;
    display: grid;
    place-items: center;
    z-index: -1;
}
.iphone13pro img{
    position: relative;
    top: 5px; 
}
.iphone13pro h1{
    margin-top: 1rem;
}
/* iphone13 */
.iphone13{
    background-color: #35283c;
    width: 100%;
    display: grid;
    place-items: center;
    padding-top: 40px;
    gap: .2rem;
}
.iphone13 h1{
    color: #f5f5f7;

}
.iphone13 h2{
    color:#fdc1ea;
}
.iphone13 a{
    margin-top: .5rem;
}